<div id = "UserProfile" class="container-fluid">
	<h5 id="name"><%= @user.username %></h5>
	<div id= 'ProPic' class="col-md-4"> 
		<p><%= image_tag @user.avatar.url(:medium) %></p>
	</div>
	<div id="AboutMe">
	<h3>
		About Me
	</h3>
	</div>

</div>
</br>

<div class="container-fluid">
	<div class="col-md-12">
		<% @user.events.newest_first.each do |u| %>
			<%= image_tag u.image.url(:thumb) %>
			<%= u.title %>
			<%= u.body %>
		<% end %>
	</div>	
</div>