<h1><%= @event.user.username.capitalize %>'s Event</h1>
<div>
	<%= @event.title %> <br> <br>
</div>

<div>
	<p><%= image_tag @event.image.url(:medium) %></p>
	<p><%= @event.body %></p>
	<p><%= @event.date %></p>
</div>

<hr>

<div>
 	<p><%= image_tag @event.user.avatar.url(:thumb) %></p>
 	<p><%= @event.user.username.capitalize%></p>
</div>