<h1><%= @event.user.username.capitalize %>'s Event</h1>
<div>
	<%= @event.title %> <br> <br>
</div>

<p>Hi, you are <%= @user.username%></p>

<div>
	<p><%= image_tag @event.image.url(:medium) %></p>
	<p><%= @event.body %></p>
	<p><%= @event.date %></p>
</div>

<hr>

<div>
 	<p><%= image_tag @event.user.avatar.url(:thumb) %></p>
 	<p><%= @event.user.username.capitalize%></p>
 	<p><% if @user.following?(@event) %>
 		<%= form_for(@user.active_relationships.find_by(followed_id: @event.id), html: {method: :delete}) do |f| %>
 			<%= f.submit "Cancle" %>
 		<% end %>
 	   <% else %>
 	   	<%=  form_for(@user.active_relationships.build) do |f|  %>
 			<div><%= hidden_field_tag :followed_id, @event.id %></div>
 			<%= f.submit "Join!" %>
 		<% end %>
 	 </p>
 	   <% end %>
</div>