<h1><%= @event.user.username.capitalize %>'s Event</h1>
<div>
	<p><%= @event.title %></p> <br>
</div>


<div>
	<p><%= image_tag @event.image.url(:medium) %></p>
	<p> Description: <%= @event.body %></p>
	<p> Event Date: <%= @event.date %></p>
	<p>This event has <%= @event.followers.count + 1 %> people participating</p>
</div>

<div>
	<p><% if @user.following?(@event) %>
		<%= form_for(@user.active_relationships.find_by(followed_id: @event.id), html: {method: :delete}) do |f| %>
			<%= f.submit "Cancle" %>
 			<% end %>
 	   	<% else %>
 	   		<%=  form_for(@user.active_relationships.build) do |f|  %>
 			<div><%= hidden_field_tag :followed_id, @event.id %></div>
 			<%= f.submit "Join!" %>
 			<% end %>
 		<% end %>
 	 </p>
</div>

<hr>

<div>
 	<p><%= image_tag @event.user.avatar.url(:thumb) %></p>
 	<p><%= @event.user.username.capitalize%></p>
 	
</div>