


<div class="jumbotron col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <h2 id="h2">Sign in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</div>
<video autoplay loop poster="polina.jpg" id="bgvid">
<source src="assets/video/javajam.webm" type="video/webm">
<source src="polina.mp4" type="video/mp4">
</video>

<%= render "devise/shared/links" %>
<%=yield%>